# Backend (FastAPI)
fastapi
uvicorn
python-multipart
requests

# Frontend (Streamlit)
streamlit
streamlit-drawable-canvas

# Deep Learning
torch
torchvision
scikit-learn

# Traitement d’image
Pillow
opencv-python-headless
numpy

# Visualisation
seaborn
matplotlib

